In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [16]:
train_data = pd.read_excel(r"F:\ML\Datasets\flightdataset.xlsx")

In [17]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [18]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [19]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [20]:

train_data.dropna(inplace = True)

In [21]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [22]:
train_data["Journey_day"] = pd.to_datetime(train_data.Date_of_Journey, format="%d/%m/%Y").dt.day

In [23]:
train_data["Journey_month"] = pd.to_datetime(train_data["Month_of_Journey"], format = "%d/%m/%Y").dt.month

In [25]:
#train_data['Date']=big_df['Date_of_Journey'].str.split('/').str[0]
#big_df['Month']=big_df['Date_of_Journey'].str.split('/').str[1]
train_data['Year']=train_data['Date_of_Journey'].str.split('/').str[2]

In [28]:
train_data.head().T

,0,1,2,3,4
Airline,IndiGo,Air India,Jet Airways,IndiGo,IndiGo
Date_of_Journey,24/03/2019,1/05/2019,9/06/2019,12/05/2019,01/03/2019
Source,Banglore,Kolkata,Delhi,Kolkata,Banglore
Destination,New Delhi,Banglore,Cochin,Banglore,New Delhi
Route,BLR → DEL,CCU → IXR → BBI → BLR,DEL → LKO → BOM → COK,CCU → NAG → BLR,BLR → NAG → DEL
Dep_Time,22:20,05:50,09:25,18:05,16:50
Arrival_Time,01:10 22 Mar,13:15,04:25 10 Jun,23:30,21:35
Duration,2h 50m,7h 25m,19h,5h 25m,4h 45m
Total_Stops,non-stop,2 stops,2 stops,1 stop,1 stop
Additional_Info,No info,No info,No info,No info,No info
Price,3897,7662,13882,6218,13302
Journey_day,24,1,9,12,1
Journey_month,3,5,6,5,3
Year,2019,2019,2019,2019,2019

In [29]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
Journey_day         int64
Journey_month       int64
Year               object
dtype: object

In [30]:
train_data['Year']=train_data['Year'].astype(int)

In [31]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
Journey_day         int64
Journey_month       int64
Year                int32
dtype: object

In [32]:
# Since we have converted Date_of_Journey column into integers, Now we can drop as it is of no use.

train_data.drop(["Date_of_Journey"], axis = 1, inplace = True)

In [33]:
# Departure time is when a plane leaves the gate. 
# Similar to Date_of_Journey we can extract values from Dep_Time

# Extracting Hours
train_data["Dep_hour"] = pd.to_datetime(train_data["Dep_Time"]).dt.hour

# Extracting Minutes
train_data["Dep_min"] = pd.to_datetime(train_data["Dep_Time"]).dt.minute

# Now we can drop Dep_Time as it is of no use
train_data.drop(["Dep_Time"], axis = 1, inplace = True)

In [34]:
# Departure time is when a plane leaves the gate. 
# Similar to Date_of_Journey we can extract values from Dep_Time

# Extracting Hours
train_data["Arrival_hour"] = pd.to_datetime(train_data["Arrival_Time"]).dt.hour

# Extracting Minutes
train_data["Arrival_min"] = pd.to_datetime(train_data["Arrival_Time"]).dt.minute

# Now we can drop Dep_Time as it is of no use
train_data.drop(["Arrival_Time"], axis = 1, inplace = True)

In [35]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,2019,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35

In [36]:
train_data[train_data['Total_Stops'].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Journey_day, Journey_month, Year, Dep_hour, Dep_min, Arrival_hour, Arrival_min]
Index: []

In [37]:
train_data['Total_Stops']=train_data['Total_Stops'].fillna('1 stop')

train_data['Total_Stops']=train_data['Total_Stops'].replace('non-stop','0 stop')

In [38]:
train_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,2019,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35

In [39]:

train_data['Stop'] = train_data['Total_Stops'].str.split(' ').str[0]

In [40]:
train_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897,24,3,2019,22,20,1,10,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15,2

In [41]:
train_data['Route_1']=train_data['Route'].str.split('→ ').str[0]
train_data['Route_2']=train_data['Route'].str.split('→ ').str[1]
train_data['Route_3']=train_data['Route'].str.split('→ ').str[2]
train_data['Route_4']=train_data['Route'].str.split('→ ').str[3]
train_data['Route_5']=train_data['Route'].str.split('→ ').str[4]

In [42]:
train_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,...,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897,24,3,...,22,20,1,10,0,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,...,5,50,13,15,2,CCU,IXR,BBI,BLR,NaN

In [43]:
train_data['Price'].fillna((train_data['Price'].mean()),inplace=True)

In [44]:
train_data['Route_1'].fillna("None",inplace=True)
train_data['Route_2'].fillna("None",inplace=True)
train_data['Route_3'].fillna("None",inplace=True)
train_data['Route_4'].fillna("None",inplace=True)
train_data['Route_5'].fillna("None",inplace=True)

In [45]:
train_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,...,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897,24,3,...,22,20,1,10,0,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,...,5,50,13,15,2,CCU,IXR,BBI,BLR,None

In [46]:
train_data=train_data.drop(['Route'],axis=1)
train_data=train_data.drop(['Duration'],axis=1)

In [47]:
train_data.isnull().sum()

Airline            0
Source             0
Destination        0
Total_Stops        0
Additional_Info    0
Price              0
Journey_day        0
Journey_month      0
Year               0
Dep_hour           0
Dep_min            0
Arrival_hour       0
Arrival_min        0
Stop               0
Route_1            0
Route_2            0
Route_3            0
Route_4            0
Route_5            0
dtype: int64

In [48]:
train_data.dtypes

Airline            object
Source             object
Destination        object
Total_Stops        object
Additional_Info    object
Price               int64
Journey_day         int64
Journey_month       int64
Year                int32
Dep_hour            int64
Dep_min             int64
Arrival_hour        int64
Arrival_min         int64
Stop               object
Route_1            object
Route_2            object
Route_3            object
Route_4            object
Route_5            object
dtype: object

In [49]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
train_data["Airline"]=encoder.fit_transform(train_data['Airline'])
train_data["Source"]=encoder.fit_transform(train_data['Source'])
train_data["Destination"]=encoder.fit_transform(train_data['Destination'])
train_data["Additional_Info"]=encoder.fit_transform(train_data['Additional_Info'])
train_data["Route_1"]=encoder.fit_transform(train_data['Route_1'])
train_data["Route_2"]=encoder.fit_transform(train_data['Route_2'])
train_data["Route_3"]=encoder.fit_transform(train_data['Route_3'])
train_data["Route_4"]=encoder.fit_transform(train_data['Route_4'])
train_data["Route_5"]=encoder.fit_transform(train_data['Route_5'])

In [50]:
train_data.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,0 stop,8,3897,24,3,2019,22,20,1,10,0,0,13,24,12,4
1,1,3,0,2 stops,8,7662,1,5,2019,5,50,13,15,2,2,25,1,3,4
2,4,2,1,2 stops,8,13882,9,6,2019,9,25,4,25,2,3,32,4,5,4
3,3,3,0,1 stop,8,6218,12,5,2019,18,5,23,30,1,2,34,3,12,4
4,3,0,5,1 stop,8,13302,1,3,2019,16,50,21,35,1,0,34,8,12,4

In [51]:
X=train_data.drop(['Price'],axis=1)
y=train_data.Price

In [52]:
X.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,0 stop,8,24,3,2019,22,20,1,10,0,0,13,24,12,4
1,1,3,0,2 stops,8,1,5,2019,5,50,13,15,2,2,25,1,3,4
2,4,2,1,2 stops,8,9,6,2019,9,25,4,25,2,3,32,4,5,4
3,3,3,0,1 stop,8,12,5,2019,18,5,23,30,1,2,34,3,12,4
4,3,0,5,1 stop,8,1,3,2019,16,50,21,35,1,0,34,8,12,4

In [53]:
y.head()

0     3897
1     7662
2    13882
3     6218
4    13302
Name: Price, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [55]:
X_train.shape

(7477, 18)

In [56]:
X_test.shape

(3205, 18)

In [57]:
# import necessary modules
import warnings
warnings.filterwarnings('ignore')
import time 
from sklearn.datasets import load_iris,fetch_california_housing
from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyClassifier,LazyRegressor

regmodel=LazyRegressor(verbose=0,predictions=True)

# fit and train the model 
start_time_1=time.time()
models_c,predictions_c=regmodel.fit(X_train, X_test, y_train, y_test)
end_time_1=time.time()

# to check which model did better on the UNSW-NB15 dataset 
models_c

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [01:18<00:00,  1.88s/it]

,Adjusted R-Squared,R-Squared,RMSE,Time Taken
Model,,,,
XGBRegressor,0.87,0.87,1691.64,1.42
RandomForestRegressor,0.87,0.87,1694.09,3.41
BaggingRegressor,0.87,0.87,1695.22,0.43
ExtraTreesRegressor,0.87,0.87,1699.76,3.17
LGBMRegressor,0.86,0.86,1757.76,0.50
HistGradientBoostingRegressor,0.86,0.86,1758.02,2.78
GradientBoostingRegressor,0.81,0.81,2032.67,1.35
DecisionTreeRegressor,0.78,0.78,2177.09,0.12
KNeighborsRegressor,0.76,0.76,2273.52,1.14
ExtraTreeRegressor,0.69,0.69,2580.39,0.09
PoissonRegressor,0.49,0.49,3317.53,0.26
Lasso,0.48,0.48,3336.52,0.13
LassoCV,0.48,0.48,3336.63,0.32
LassoLarsIC,0.48,0.48,3336.73,0.07
RidgeCV,0.48,0.48,3338.43,0.09
BayesianRidge,0.48,0.48,3338.43,0.17
LassoLarsCV,0.48,0.48,3339.36,0.21
Ridge,0.48,0.48,3339.53,0.06
Lars,0.48,0.48,3347.42,0.20
LarsCV,0.48,0.48,3347.65,0.17
KernelRidge,0.48,0.48,3352.44,8.20
SGDRegressor,0.48,0.48,3352.62,0.09
LassoLars,0.48,0.48,3356.62,0.08
MLPRegressor,0.47,0.48,3361.08,16.71
HuberRegressor,0.47,0.47,3375.02,0.39
OrthogonalMatchingPursuitCV,0.46,0.46,3413.76,0.11
PassiveAggressiveRegressor,0.45,0.45,3432.26,0.14
ElasticNet,0.44,0.44,3478.65,0.07
OrthogonalMatchingPursuit,0.39,0.39,3620.59,0.08
TweedieRegressor,0.38,0.39,3636.60,0.07
GeneralizedLinearRegressor,0.38,0.39,3636.60,0.09
GammaRegressor,0.38,0.38,3648.06,0.06
AdaBoostRegressor,0.35,0.36,3722.23,0.77
ElasticNetCV,0.27,0.27,3966.49,0.24
LinearSVR,0.06,0.06,4501.63,0.07
NuSVR,0.04,0.04,4546.48,4.79
SVR,0.03,0.03,4574.83,6.87
DummyRegressor,-0.01,-0.00,4646.50,0.05
GaussianProcessRegressor,-29.60,-29.43,25629.84,23.28
LinearRegression,-122767545851013562368.00,-122077840537243811840.00,51338644551897.45,0.15
TransformedTargetRegressor,-122767545851013562368.00,-122077840537243811840.00,51338644551897.45,0.07
RANSACRegressor,-3824812965553496915968.00,-3803325252263870464000.00,286554816426227.88,0.29

In [59]:
train_data.dtypes

Airline             int32
Source              int32
Destination         int32
Total_Stops        object
Additional_Info     int32
Price               int64
Journey_day         int64
Journey_month       int64
Year                int32
Dep_hour            int64
Dep_min             int64
Arrival_hour        int64
Arrival_min         int64
Stop               object
Route_1             int32
Route_2             int32
Route_3             int32
Route_4             int32
Route_5             int32
dtype: object

In [60]:
train_data.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,0 stop,8,3897,24,3,2019,22,20,1,10,0,0,13,24,12,4
1,1,3,0,2 stops,8,7662,1,5,2019,5,50,13,15,2,2,25,1,3,4
2,4,2,1,2 stops,8,13882,9,6,2019,9,25,4,25,2,3,32,4,5,4
3,3,3,0,1 stop,8,6218,12,5,2019,18,5,23,30,1,2,34,3,12,4
4,3,0,5,1 stop,8,13302,1,3,2019,16,50,21,35,1,0,34,8,12,4

In [61]:
train_data = train_data.drop(['Total_Stops'],axis=1)

train_data['Stop']=train_data['Stop'].astype(int)

In [62]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
df_SS_scaled = pd.DataFrame(ss.fit_transform(train_data),columns = train_data.columns)

df_SS_scaled.head()

,Airline,Source,Destination,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,-0.41,-1.66,2.42,0.50,-1.13,1.24,-1.47,0.00,1.65,-0.23,-1.80,-0.89,-1.22,-1.67,0.14,1.37,0.41,0.06
1,-1.26,0.89,-0.97,0.50,-0.31,-1.48,0.25,0.00,-1.30,1.36,-0.05,-0.59,1.74,-0.02,1.64,-1.17,-3.05,0.06
2,0.01,0.04,-0.30,0.50,1.04,-0.53,1.11,0.00,-0.61,0.03,-1.36,0.02,1.74,0.81,2.51,-0.84,-2.29,0.06
3,-0.41,0.89,-0.97,0.50,-0.62,-0.18,0.25,0.00,0.96,-1.03,1.41,0.32,0.26,-0.02,2.76,-0.95,0.41,0.06
4,-0.41,-1.66,2.42,0.50,0.91,-1.48,-1.47,0.00,0.61,1.36,1.12,0.62,0.26,-1.67,2.76,-0.40,0.41,0.06

In [63]:
X=df_SS_scaled.drop(['Price'],axis=1)
y=df_SS_scaled.Price



from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)



regmodel=LazyRegressor(verbose=0,predictions=True)

# fit and train the model 
start_time_1=time.time()
models_c,predictions_c=regmodel.fit(X_train, X_test, y_train, y_test)
end_time_1=time.time()

# to check which model did better on the UNSW-NB15 dataset 
models_c

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [01:14<00:00,  1.78s/it]

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
XGBRegressor                                 0.88       0.88  0.35        1.09
RandomForestRegressor                        0.87       0.87  0.37        3.41
ExtraTreesRegressor                          0.87       0.87  0.37        2.98
BaggingRegressor                             0.86       0.86  0.38        0.37
HistGradientBoostingRegressor                0.86       0.86  0.38        2.26
LGBMRegressor                                0.85       0.85  0.38        0.29
ExtraTreeRegressor                           0.81       0.81  0.43        0.06
GradientBoostingRegressor                    0.80       0.81  0.44        1.12
DecisionTreeRegressor                        0.79       0.79  0.46        0.08
MLPRegressor                                 0.78       0.78  0.47       18.94
KNeighborsRegressor                          0.76       0.76  0.49        1.25
NuSVR                                        0.73       0.73  0.52        6.05
SVR                                          0.73       0.73  0.52        4.89
ElasticNetCV                                 0.48       0.49  0.72        0.21
LassoCV                                      0.48       0.49  0.72        0.24
BayesianRidge                                0.48       0.49  0.72        0.05
RidgeCV                                      0.48       0.49  0.72        0.02
LarsCV                                       0.48       0.49  0.72        0.13
LassoLarsCV                                  0.48       0.49  0.72        0.11
Ridge                                        0.48       0.49  0.72        0.04
KernelRidge                                  0.48       0.49  0.72        9.06
TransformedTargetRegressor                   0.48       0.49  0.72        0.03
Lars                                         0.48       0.49  0.72        0.04
LassoLarsIC                                  0.48       0.49  0.72        0.03
LinearRegression                             0.48       0.49  0.72        0.04
SGDRegressor                                 0.48       0.48  0.73        0.05
HuberRegressor                               0.47       0.47  0.73        0.12
LinearSVR                                    0.46       0.46  0.74        0.69
OrthogonalMatchingPursuitCV                  0.46       0.46  0.74        0.05
AdaBoostRegressor                            0.42       0.42  0.77        0.46
GeneralizedLinearRegressor                   0.40       0.40  0.78        0.04
TweedieRegressor                             0.40       0.40  0.78        0.03
OrthogonalMatchingPursuit                    0.36       0.36  0.81        0.04
RANSACRegressor                              0.34       0.34  0.82        0.18
ElasticNet                                   0.08       0.09  0.96        0.03
Lasso                                       -0.01      -0.00  1.01        0.03
DummyRegressor                              -0.01      -0.00  1.01        0.03
LassoLars                                   -0.01      -0.00  1.01        0.04
PassiveAggressiveRegressor                  -0.08      -0.07  1.04        0.05
GaussianProcessRegressor                   -29.43     -29.26  5.54       20.09

In [64]:
from sklearn.preprocessing import MinMaxScaler

ss = MinMaxScaler()
df_MM_scaled = pd.DataFrame(ss.fit_transform(train_data),columns = train_data.columns)

df_MM_scaled.head()

,Airline,Source,Destination,Additional_Info,Price,Journey_day,Journey_month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Stop,Route_1,Route_2,Route_3,Route_4,Route_5
0,0.27,0.00,1.00,0.89,0.03,0.88,0.00,0.00,0.96,0.36,0.04,0.18,0.00,0.00,0.30,0.83,0.92,0.80
1,0.09,0.75,0.00,0.89,0.08,0.00,0.67,0.00,0.22,0.91,0.57,0.27,0.50,0.50,0.57,0.03,0.23,0.80
2,0.36,0.50,0.20,0.89,0.16,0.31,1.00,0.00,0.39,0.45,0.17,0.45,0.50,0.75,0.73,0.14,0.38,0.80
3,0.27,0.75,0.00,0.89,0.06,0.42,0.67,0.00,0.78,0.09,1.00,0.55,0.25,0.50,0.77,0.10,0.92,0.80
4,0.27,0.00,1.00,0.89,0.15,0.00,0.00,0.00,0.70,0.91,0.91,0.64,0.25,0.00,0.77,0.28,0.92,0.80

In [65]:
X=df_MM_scaled.drop(['Price'],axis=1)
y=df_MM_scaled.Price



from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)



regmodel=LazyRegressor(verbose=0,predictions=True)

# fit and train the model 
start_time_1=time.time()
models_c,predictions_c=regmodel.fit(X_train, X_test, y_train, y_test)
end_time_1=time.time()

# to check which model did better on the UNSW-NB15 dataset 
models_c

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [01:13<00:00,  1.75s/it]

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
XGBRegressor                                 0.89       0.89  0.02        0.99
BaggingRegressor                             0.87       0.87  0.02        0.39
ExtraTreesRegressor                          0.87       0.87  0.02        2.94
RandomForestRegressor                        0.87       0.87  0.02        3.21
HistGradientBoostingRegressor                0.86       0.86  0.02        2.54
LGBMRegressor                                0.85       0.85  0.02        0.27
GradientBoostingRegressor                    0.80       0.81  0.03        1.07
NuSVR                                        0.80       0.80  0.03       29.12
DecisionTreeRegressor                        0.78       0.78  0.03        0.08
KNeighborsRegressor                          0.76       0.76  0.03        0.87
ExtraTreeRegressor                           0.73       0.73  0.03        0.06
ElasticNetCV                                 0.48       0.49  0.04        0.22
LassoCV                                      0.48       0.49  0.04        0.21
BayesianRidge                                0.48       0.49  0.04        0.05
RidgeCV                                      0.48       0.49  0.04        0.04
LarsCV                                       0.48       0.49  0.04        0.11
LassoLarsCV                                  0.48       0.49  0.04        0.09
Ridge                                        0.48       0.49  0.04        0.03
LinearRegression                             0.48       0.49  0.04        0.04
LassoLarsIC                                  0.48       0.49  0.04        0.04
Lars                                         0.48       0.49  0.04        0.05
TransformedTargetRegressor                   0.48       0.49  0.04        0.03
SGDRegressor                                 0.48       0.48  0.04        0.04
HuberRegressor                               0.47       0.47  0.04        0.14
OrthogonalMatchingPursuitCV                  0.46       0.46  0.04        0.07
MLPRegressor                                 0.42       0.42  0.05        2.00
LinearSVR                                    0.41       0.41  0.05        1.13
GeneralizedLinearRegressor                   0.40       0.40  0.05        0.04
TweedieRegressor                             0.40       0.40  0.05        0.04
OrthogonalMatchingPursuit                    0.36       0.36  0.05        0.04
RANSACRegressor                              0.34       0.34  0.05        0.18
PassiveAggressiveRegressor                   0.30       0.31  0.05        0.05
SVR                                          0.28       0.28  0.05        0.18
AdaBoostRegressor                            0.22       0.22  0.05        0.79
PoissonRegressor                             0.12       0.12  0.06        0.03
Lasso                                       -0.01      -0.00  0.06        0.03
ElasticNet                                  -0.01      -0.00  0.06        0.02
DummyRegressor                              -0.01      -0.00  0.06        0.03
LassoLars                                   -0.01      -0.00  0.06        0.03
KernelRidge                                 -2.00      -1.99  0.10        7.95
GaussianProcessRegressor                   -29.55     -29.38  0.33       18.17